body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 100vw;
  transition: background 1s ease-in-out;
}

*,
*:before,
*:after {
  scroll-behavior: smooth;
  box-sizing: border-box;
}



.animeCard {
  position: relative;
  border-radius: 10px;
  margin-top: 2rem;
  min-height: auto;
  user-select: text;
  transition: 800ms;
  border: 4px solid #0583f2;
  background-color: #0583f2;

  min-width: 11.5rem;
  max-width: 12.5rem;
}
